
html,
body {
  margin: 0;
  background: #d4d9dd;
}

//Table
.tab {
  display: table;

  .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
}

//width
$idxWidth: 0;
@while $idxWidth <= 12 {
  .w#{$idxWidth} { width: 8.33% * $idxWidth; }
  $idxWidth: $idxWidth + 1;
}

.heightWindow {
  height: 100vh;
}

.error {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height .5s ease;
  color: #1791c3;

  &.open {
    height: 40px;
    padding-top: 20px;
  }

}
