.inputs {
  width: 250px;
  margin: auto;

  [class*=inputLogin] {
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    margin-top: 30px;
    transition: all .5s ease;

    &.beforeInit {
      transform: translateY(-50px);
      opacity: 0;
    }

    .field__input {

      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus
      input:-webkit-autofill,
      input {
        border: none;
        height: 35px;
        box-shadow: inset 0 0 0 50px #FFF;
        outline: none;
        color: #585858;
        -webkit-text-fill-color: #585858;
        font-size: 13px;
      }

    }

  }

  .inputLogin__ {

    &text {
      .field__icon {
        background: url('../assets/img/user.svg') center center/40% no-repeat;
      }
    }

    &password {
      .field__icon {
        background: url('../assets/img/padlock.svg') center center/40% no-repeat;
      }
    }

  }

}

.boxButton {
  width: 250px;
  margin: auto;
  text-align: right;
  margin-top: 30px;

  .buttonLogin {
    background: linear-gradient(to left, #1791c3, #00c2ff);
    border: none;
    padding: 8px 25px;
    border-radius: 25px;
    color: #FFF;
    font-size: 18px;
    box-shadow: 0px 10px 20px -7px rgb(2, 187, 255);
    cursor: pointer;
    transition: all .5s ease;
    outline: none;

    &:hover {
      background-color: #1791c3;
      box-shadow: 0px 5px 10px -7px rgb(2, 187, 255);
    }

    &[disabled],
    &[disabled]:hover {
      background: #6e849a;
      box-shadow: 0 0 0 0 rgba(14, 152, 197, 0.48);
      cursor: not-allowed;
    }

    &.beforeInit {
      transform: translateY(-50px);
      opacity: 0;
    }

  }

}

.boxRef {
  width: 207.91px;
  top: -100%;
  position: fixed;

  &__text {
    display: inline-block;
    font-size: 13px;
  }

}
