$transition:  all .4s;

.ninja {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  background-color: #b5babf;
  border-radius: 50%;
  overflow: hidden;
  transition: all .5s;

  & * {
    position: absolute;
    transition: $transition;
  }

  &.beforeInit {
    transform: translateY(-50px);
    opacity: 0;
  }

}

.ninja__ {

  &loading {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 0 solid #a1a6ab;
    border-left-color: #1791c3;
  }

  &box {
    width: 100%;
    height: 100%;
    perspective: 100px;
  }

  &head {
    background-color: #4e4848;
    top: 31px;
    left: 41px;
    height: 150px;
    width: 115px;
    border-radius: 50px 50px 45px 45px;
    transform: rotateX(-7deg);
    box-shadow: inset 7px 0px #433b3a
  }

  &bandHand {
    top: 56px;
    width: 100%;
  }

  &band {
    background: #1791c3;
    width: 126px;
    height: 20px;
    left: 35px;
    top: 0;
    border-radius: 2px;
    transform: rotateX(-3deg);
    z-index: 2;
  }

  &logo {
    background: #00c2ff;
    width: 36px;
    height: 34px;
    top: -8px;
    left: 46px;
    border-radius: 50%;

    * {
      width: 4px;
      height: 13px;
      background: #FFF;
      border-radius: 6px;
    }

  }

  &detail-- {

    &1{
      top: 11px;
      left: 8px;
    }

    &2{
      top: 14px;
      left: 16px;
    }

    &3{
      top: 11px;
      left: 24px;
    }

  }

  &visor {
    background: #ebc7a4;
    width: 88px;
    height: 33px;
    top: 94px;
    left: 55px;
    border-radius: 8px 8px 15px 15px;
    box-shadow: inset 6px 0 #d0ad8b;

    & > div {
      width: 25px;
      height: 9px;
      bottom: 14px;
      background: #FFF;
      overflow: hidden;
      transition: height .1s ease;
    }

  }

  &iris {
    width: 1px;
    height: 1px;
    box-shadow: 0 0 0 5px #000;
    background-color: #000;
    display: block;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 46%;
    transition: $transition;
  }

  &eye-- {

    &left {
      left: 10px;
      border-radius: 0 60%;
      transform: rotate(5deg);
    }

    &right {
      right: 10px;
      border-radius: 60% 0;
      transform: rotate(-5deg);
    }

  }

  &hand {
    top: 200px;
    width: 100%;

    & > div {
      background: url('../assets/img/hand.svg') top center/contain no-repeat;
      width: 70px;
      height: 185px;
    }

    &-- {

      &left {
        left: -16px;
        transform: rotateY(180deg);
      }

      &right {
        right: -12px;
      }

    }

  }

}

.ninja.loading {

  .ninja__ {

    &loading {
      animation: spin .8s infinite linear;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      border-width: 4px;
    }

  }

}

.ninja.look {

  .ninja__ {

    &head {
      box-shadow: inset 7px 7px #433b3a;
      transform: rotateX(-10deg);
    }

    &bandHand {
      top: 70px;
    }

    &logo {
      top: -6px;
    }

    &visor {
      top: 105px;
      height: 30px;

      & > div {
        bottom: 12px;
        height: 9px;
      }

    }

    &iris {
      bottom: 2px;
    }

  }

}

.ninja.notLook {

  .ninja__ {

    &visor {

      & > div {
        height: 0px;
        border-top: 2px solid #a7825e;
      }

    }

  }

}

.ninja.upHand {

  .ninja__ {

    &hand {
      top: 0;
    }

  }

}

.ninja.downBand {

  .ninja__ {

    &bandHand {
      top: 100px;
    }

  }

}

.ninja.closeEye .ninja__visor > div {
  height: 0px;
  border-top: 2px solid #a7825e;
}

@keyframes loginInvalid__box {
    0%, 100% { left: 0; }
    20%, 60% { left: -3%; }
    40%, 80% { left: 3%; }
}

@keyframes loginInvalid__logo {
    0%, 100% { left: 45px; }
    20%, 60% { left: 35px; }
    40%, 80% { left: 55%; }
}

@keyframes loginInvalid__visor {
    0%, 100% { left: 55px; }
    20%, 60% { left: 45px; }
    40%, 80% { left: 65px; }
}

@keyframes loginInvalid__eye {
    0%, 100% {
      height: 9px;
      border-top: 0 solid #a7825e;
    }
    10%, 90% {
      height: 0px;
      border-top: 2px solid #a7825e;
    }
}

.ninja.loginInvalid {
  .ninja__ {

    &box {
      animation: loginInvalid__box 1.5s;
    }

    &logo {
      animation: loginInvalid__logo 1.5s;
    }

    &visor {
      animation: loginInvalid__visor 1.5s;

      & > div {
        animation: loginInvalid__eye 1.5s;
      }

    }

  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
