<template>
  <div class='tab w12 heightWindow'>
    <div class='cell'>
      <div
        class='boxRef'
        ref='boxRef'
      >
        <div
          class='boxRef__text'
          ref='boxRef__text'
        >
          {{textUser}}
        </div>
      </div>
      <div class='boxForm'>
        <ninja
          ref='ninja'
          :class='[actionNinja, bandHand]'
          :porcPosition='porcPosition'
        />
        <div :class="['error', classError]">
          Usuário ou senha inválido,<br>
          tente novamente
        </div>
        <div class='inputs'>
          <inputLogin
            class='beforeInit'
            ref='inputText'
            :typeInput='`text`'
            :textInput='`Insira o login`'
            :nameInput='`user`'
            @focus='changeAction("look")'
            @blur='changeAction("")'
            @keydown='keyMonitor'
            @keyup='keyMonitor'
          />
          <inputLogin
            class='beforeInit'
            ref='inputPassword'
            :typeInput='`password`'
            :textInput='`Insira a senha`'
            :nameInput='`password`'
            @focus='changeAction("notLook")'
            @blur='changeAction("")'
            @keyup='valuePassword'
          />
        </div>
        <div class='boxButton'>
          <button
            class='buttonLogin beforeInit'
            ref='buttonLogin'
            :disabled='textUser=="" || textPassword==""'
            @click='validingLogin'
          >Entrar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import ninja from '@/components/ninja';
import inputLogin from '@/components/inputLogin';

export default {
  name: 'formLogin',
  components: {
    ninja,
    inputLogin,
  },
  data() {
    return {
      initActionNinja: '', // { look, notLook }
      actionNinja: 'beforeInit',
      bandHand: [],
      textUser: '',
      textPassword: '',
      porcPosition: 45,
      classError: '',
      arrRef: ['ninja', 'inputText', 'inputPassword', 'buttonLogin'],
    };
  },
  methods: {
    beforeInitEnd(m) {
      for (let i = 0; i < this.arrRef.length; i += 1) {
        setTimeout(() => {
          const itemRef = this.$refs[this.arrRef[i]];
          if (m === 'init') {
            (itemRef.$el || itemRef).classList.remove('beforeInit');
          } else {
            (itemRef.$el || itemRef).classList.add('beforeInit');
          }
        }, i * 200);
      }
    },
    wink() {
      setInterval(() => {
        this.$refs.ninja.$el.classList.add('closeEye');
        setTimeout(() => {
          this.$refs.ninja.$el.classList.remove('closeEye');
        }, 150);
      }, 8000);
    },
    changeAction(action) {
      this.actionNinja = action;
      this.classError = '';

      if (action === 'look') {
        this.widthCalc();
      } else {
        this.porcPosition = 45;
      }

      if (action === 'notLook') {
        this.bandHand[0] = 'upHand';
        setTimeout(() => {
          this.bandHand.push('downBand');
        }, 500);
      } else if (this.bandHand.indexOf('upHand') > -1) {
        this.bandHand[this.bandHand.indexOf('downBand')] = '';
        setTimeout(() => {
          this.bandHand = [];
        }, 500);
      }
    },
    keyMonitor(payload) {
      this.textUser = payload;
      setTimeout(this.widthCalc, 10);
    },
    valuePassword(payload) {
      this.textPassword = payload;
    },
    widthCalc() {
      const widthBoxRef = this.$refs.boxRef.clientWidth;
      const widthBoxRefText = this.$refs.boxRef__text.clientWidth;
      this.porcPosition = (widthBoxRefText / widthBoxRef) * 100;
    },
    validingLogin() {
      if (this.textUser === 'usuario' &&
          this.textPassword === 'senha') {
        this.actionNinja = 'loading';
        this.classError = '';
        setTimeout(() => {
          this.actionNinja = '';
          this.beforeInitEnd('end');
          setTimeout(() => {
            location.reload();
          }, 1000);
        }, 3000);
      } else {
        this.actionNinja = 'loginInvalid';
        this.classError = 'open';
      }
    },
  },
  mounted() {
    this.beforeInitEnd('init');
    this.wink();
  },
};
</script>
