<template>
  <div :class='classInput'>
    <div class="field tab w12">
      <div class="field__icon cell w2"></div>
      <div class="field__input cell w10">
        <input
          class='w12'
          autocomplete='off'
          :type='typeInput'
          :placeholder='textInput'
          :name='nameInput'
          @focus='focus()'
          @blur='blur()'
          @keydown='keydown($event)'
          @keyup='keyup($event)'
          >
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'inputLogin',
  props: [
    'typeInput',
    'textInput',
    'nameInput',
  ],
  data() {
    return {
      classInput: `inputLogin__${this.typeInput}`,
      valueInput: '',
    };
  },
  methods: {
    focus() {
      this.$emit('focus');
    },
    blur() {
      this.$emit('blur');
    },
    keydown(e) {
      this.$emit('keydown', e.target.value);
    },
    keyup(e) {
      this.$emit('keyup', e.target.value);
    },
  },
};

</script>

<style lang="scss">
@import '../assets/style/inputLogin.scss';
</style>
