<template>
  <div class="ninja">
    <div class="ninja__loading"></div>
    <div
      class="ninja__box"
      :style='{left: leftBox + "%"}'
    >
      <div class="ninja__head"></div>
      <div class="ninja__bandHand">
        <div class="ninja__band">
          <div
            class="ninja__logo"
            :style='{left: leftLogo + "px"}'
          >
            <div class="ninja__detail--1"></div>
            <div class="ninja__detail--2"></div>
            <div class="ninja__detail--3"></div>
          </div>
        </div>
        <div class="ninja__hand">
          <div class="ninja__hand--left"></div>
          <div class="ninja__hand--right"></div>
        </div>
      </div>

      <div
        class="ninja__visor"
        :style='{left: leftVisor + "px"}'
      >
        <div class="ninja__eye--left">
          <div
            class="ninja__iris"
            :style='{left: leftIris + "%"}'
          ></div>
        </div>
        <div class="ninja__eye--right">
            <div
              class="ninja__iris"
              :style='{left: leftIris + "%"}'
            ></div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'ninja',
  data() {
    return {
      leftBox: 0,
      leftVisor: 55,
      leftIris: 46,
      leftLogo: 46,
    };
  },
  props: [
    'porcPosition',
  ],
  watch: {
    porcPosition() {
      if (this.porcPosition <= 80) {
        this.leftBox = ((this.porcPosition / 100) * 20) - 9;
        this.leftVisor = ((this.porcPosition / 100) * 20) + 45;
        this.leftIris = ((this.porcPosition / 150) * 60) + 25;
        this.leftLogo = ((this.porcPosition / 100) * 20) + 35;
      }
    },
  },
};
</script>

<style lang="scss">
@import '../assets/style/ninja.scss';
</style>
